K8s/data-platform-stream/NiFi_Flow_k8s.json
{"flowContents":{"identifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","instanceIdentifier":"7f71c997-019f-1000-0b05-88e9e3e79819","name":"NiFi_Flow","comments":"","position":{"x":654.0,"y":195.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fa76337f-6e0b-39aa-8fa4-50d10bb330f1","instanceIdentifier":"cd20289e-80da-3d17-82a5-2a7ed240d2ae","name":"ConvertRecord","comments":"","position":{"x":1264.0,"y":32.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"record-writer":"c756f605-f599-3578-943b-749016714d4e","record-reader":"f07d3d0e-a6cb-3973-9c61-791ecf4a3830","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"e33326e9-9fbc-38f2-a246-acb455542173","instanceIdentifier":"b9f4ea69-84c3-3091-2905-b8baaef3208b","name":"ListS3","comments":"","position":{"x":-48.0,"y":-16.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"list-type":"1","et-initial-listing-target":"all","prefix":null,"record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":"http://data-platform-stream-minio:9000","et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"raw-landing","Communications Timeout":"30 secs","Region":"us-west-2","Credentials File":null,"et-state-cache":null,"proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"5d5acd3a-09d0-31c6-9800-dee6363d8d9d","instanceIdentifier":"8748048f-0334-34e4-3622-6e194289451f","name":"UpdateAttribute","comments":"","position":{"x":632.0,"y":48.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","kafka_topic":"raw-loan-repayments","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"kafka_topic":{"name":"kafka_topic","displayName":"kafka_topic","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"51a8e8b7-2a42-3c99-8812-57cd81edf446","instanceIdentifier":"c8434c25-132f-3ceb-d53f-a15f0f302e1e","name":"UpdateAttribute","comments":"","position":{"x":656.0,"y":-168.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","kafka_topic":"raw-insurance-operations","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"kafka_topic":{"name":"kafka_topic","displayName":"kafka_topic","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"df673d24-ca0f-3fc0-9ce3-dd9791f9d82c","instanceIdentifier":"bce74f55-b2de-3db3-a0fe-df0f63b54a61","name":"SplitJson","comments":"","position":{"x":1424.0,"y":256.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"f42f421c-0d18-3e65-81fa-6ab82c66fec6","instanceIdentifier":"70f112b2-c551-3333-764b-ac6f412317d9","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":2000.0,"y":288.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.2"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"c756f605-f599-3578-943b-749016714d4e","bootstrap.servers":"data-platform-stream-kafka:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"98daab08-4614-300a-8d94-434fe700631b","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"${kafka_topic}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"00389310-fed7-351a-b043-e1cb9fe8632c","instanceIdentifier":"b2fc856e-2556-3a8c-1fa9-b0fdb43bfade","name":"UpdateAttribute","comments":"","position":{"x":608.0,"y":256.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","kafka_topic":"raw-mobile-money-payments","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"kafka_topic":{"name":"kafka_topic","displayName":"kafka_topic","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"bcf02c2c-3e8e-374c-9130-f98e3375248f","instanceIdentifier":"cbf432f0-194a-32ef-780e-bdd650026a24","name":"UpdateAttribute","comments":"","position":{"x":736.0,"y":-360.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","kafka_topic":"raw-bank-transactions","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"kafka_topic":{"name":"kafka_topic","displayName":"kafka_topic","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"764e98ad-2a75-33a0-8f5a-0f73135876de","instanceIdentifier":"8a1e7210-47e3-3b37-f5e6-6ab56e5c51a2","name":"FetchS3Object","comments":"","position":{"x":16.0,"y":256.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"range-length":null,"range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":"http://data-platform-stream-minio:9000","custom-signer-class-name":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"${s3.bucket}","Version":null,"Communications Timeout":"30 secs","Region":"us-west-2","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"057b8355-babd-3ebe-984c-995089f3cd1b","instanceIdentifier":"73d902d1-3aa4-3e29-0234-b05a36165efc","name":"UpdateRecord","comments":"","position":{"x":1720.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"/ingestion_timestamp":"${now():format('yyyy-MM-dd HH:mm:ss')}","record-writer":"c756f605-f599-3578-943b-749016714d4e","record-reader":"98daab08-4614-300a-8d94-434fe700631b","/source_file":"${filename}","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"/ingestion_timestamp":{"name":"/ingestion_timestamp","displayName":"/ingestion_timestamp","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"/source_file":{"name":"/source_file","displayName":"/source_file","identifiesControllerService":false,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"e76bebdd-ce8d-34d8-8e00-0a7503380c74","instanceIdentifier":"6ef0209c-a585-39c4-02b0-d13c003c5adc","name":"RouteOnAttribute","comments":"","position":{"x":80.0,"y":-312.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"is_insurance":"${filename:substringAfterLast('/'):startsWith('insurance_ops')}","Routing Strategy":"Route to Property name","is_mobile_money":"${filename:substringAfterLast('/'):startsWith('mobile_money')}","is_bank_txn":"${filename:substringAfterLast('/'):startsWith('bank_txn')}","is_loan":"${filename:substringAfterLast('/'):startsWith('loan_repayments')}"},"propertyDescriptors":{"is_insurance":{"name":"is_insurance","displayName":"is_insurance","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"is_mobile_money":{"name":"is_mobile_money","displayName":"is_mobile_money","identifiesControllerService":false,"sensitive":false},"is_bank_txn":{"name":"is_bank_txn","displayName":"is_bank_txn","identifiesControllerService":false,"sensitive":false},"is_loan":{"name":"is_loan","displayName":"is_loan","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8f88e601-fc7a-3129-b882-16e71ff31a5a","instanceIdentifier":"97bd7340-0532-3f79-ed65-4b33284f30be","name":"","source":{"id":"764e98ad-2a75-33a0-8f5a-0f73135876de","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"FetchS3Object","comments":"","instanceIdentifier":"8a1e7210-47e3-3b37-f5e6-6ab56e5c51a2"},"destination":{"id":"e76bebdd-ce8d-34d8-8e00-0a7503380c74","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6ef0209c-a585-39c4-02b0-d13c003c5adc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"daeb7cd1-a0dd-3225-b11e-4bef8df1a765","instanceIdentifier":"d6185699-d2f1-331f-25d1-a351269d5464","name":"","source":{"id":"df673d24-ca0f-3fc0-9ce3-dd9791f9d82c","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"SplitJson","comments":"","instanceIdentifier":"bce74f55-b2de-3db3-a0fe-df0f63b54a61"},"destination":{"id":"057b8355-babd-3ebe-984c-995089f3cd1b","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"UpdateRecord","comments":"","instanceIdentifier":"73d902d1-3aa4-3e29-0234-b05a36165efc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"621c804f-9872-3b5f-9104-46cc7bdcf7e7","instanceIdentifier":"bf1ef51c-b06e-34b2-bd5f-ad0f0fe87e11","name":"","source":{"id":"057b8355-babd-3ebe-984c-995089f3cd1b","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"UpdateRecord","comments":"","instanceIdentifier":"73d902d1-3aa4-3e29-0234-b05a36165efc"},"destination":{"id":"f42f421c-0d18-3e65-81fa-6ab82c66fec6","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"70f112b2-c551-3333-764b-ac6f412317d9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"e1a55e9f-8d9d-3562-8c54-ea9782998599","instanceIdentifier":"e7125548-bb6c-3477-8200-8b48c51ba0c5","name":"","source":{"id":"00389310-fed7-351a-b043-e1cb9fe8632c","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"UpdateAttribute","comments":"","instanceIdentifier":"b2fc856e-2556-3a8c-1fa9-b0fdb43bfade"},"destination":{"id":"fa76337f-6e0b-39aa-8fa4-50d10bb330f1","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"ConvertRecord","comments":"","instanceIdentifier":"cd20289e-80da-3d17-82a5-2a7ed240d2ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"2dc016eb-1c01-3354-a1af-78efdaec0e54","instanceIdentifier":"034f3b3d-f8ab-33b2-246c-c3e2af11a0bf","name":"","source":{"id":"e76bebdd-ce8d-34d8-8e00-0a7503380c74","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6ef0209c-a585-39c4-02b0-d13c003c5adc"},"destination":{"id":"5d5acd3a-09d0-31c6-9800-dee6363d8d9d","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"UpdateAttribute","comments":"","instanceIdentifier":"8748048f-0334-34e4-3622-6e194289451f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["is_loan"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"22c7b336-6a2b-315c-bf73-ef6d50ae21b5","instanceIdentifier":"2befe15f-675f-355a-6574-e8bc2a69db8a","name":"","source":{"id":"bcf02c2c-3e8e-374c-9130-f98e3375248f","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"UpdateAttribute","comments":"","instanceIdentifier":"cbf432f0-194a-32ef-780e-bdd650026a24"},"destination":{"id":"fa76337f-6e0b-39aa-8fa4-50d10bb330f1","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"ConvertRecord","comments":"","instanceIdentifier":"cd20289e-80da-3d17-82a5-2a7ed240d2ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"c74b4c47-1714-37cc-a649-fc53dd904be8","instanceIdentifier":"74972399-67c9-3e95-5fbd-7b39dcd888e5","name":"","source":{"id":"e76bebdd-ce8d-34d8-8e00-0a7503380c74","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6ef0209c-a585-39c4-02b0-d13c003c5adc"},"destination":{"id":"51a8e8b7-2a42-3c99-8812-57cd81edf446","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"UpdateAttribute","comments":"","instanceIdentifier":"c8434c25-132f-3ceb-d53f-a15f0f302e1e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["is_insurance"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"66fdd987-cbeb-3070-8d03-bc76d7f9f8ab","instanceIdentifier":"89da8262-eddb-323f-32ba-316c6ef96f45","name":"","source":{"id":"5d5acd3a-09d0-31c6-9800-dee6363d8d9d","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"UpdateAttribute","comments":"","instanceIdentifier":"8748048f-0334-34e4-3622-6e194289451f"},"destination":{"id":"fa76337f-6e0b-39aa-8fa4-50d10bb330f1","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"ConvertRecord","comments":"","instanceIdentifier":"cd20289e-80da-3d17-82a5-2a7ed240d2ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"28873580-211c-3f69-a78f-f8b1d0ecdad3","instanceIdentifier":"6a2526b7-2e27-3a4a-de0b-c646d4afe189","name":"","source":{"id":"e76bebdd-ce8d-34d8-8e00-0a7503380c74","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6ef0209c-a585-39c4-02b0-d13c003c5adc"},"destination":{"id":"bcf02c2c-3e8e-374c-9130-f98e3375248f","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"UpdateAttribute","comments":"","instanceIdentifier":"cbf432f0-194a-32ef-780e-bdd650026a24"},"labelIndex":1,"zIndex":0,"selectedRelationships":["is_bank_txn"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"66d363ee-83f0-30df-9cee-3d1e41ad2d43","instanceIdentifier":"686c7b0d-84e0-32e3-6b72-ebde0917b083","name":"","source":{"id":"e76bebdd-ce8d-34d8-8e00-0a7503380c74","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6ef0209c-a585-39c4-02b0-d13c003c5adc"},"destination":{"id":"00389310-fed7-351a-b043-e1cb9fe8632c","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"UpdateAttribute","comments":"","instanceIdentifier":"b2fc856e-2556-3a8c-1fa9-b0fdb43bfade"},"labelIndex":1,"zIndex":0,"selectedRelationships":["is_mobile_money"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"b8bfa4d4-8da2-3eab-b39e-170335b53227","instanceIdentifier":"16bc6caf-c896-3146-bbfa-2a0d9b76fdbc","name":"","source":{"id":"51a8e8b7-2a42-3c99-8812-57cd81edf446","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"UpdateAttribute","comments":"","instanceIdentifier":"c8434c25-132f-3ceb-d53f-a15f0f302e1e"},"destination":{"id":"fa76337f-6e0b-39aa-8fa4-50d10bb330f1","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"ConvertRecord","comments":"","instanceIdentifier":"cd20289e-80da-3d17-82a5-2a7ed240d2ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"53a4d55b-41d9-31c4-aecd-ce045d6ae3c5","instanceIdentifier":"b040ffc3-2abe-3f9f-e781-de9d9fbd8b6c","name":"","source":{"id":"fa76337f-6e0b-39aa-8fa4-50d10bb330f1","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"ConvertRecord","comments":"","instanceIdentifier":"cd20289e-80da-3d17-82a5-2a7ed240d2ae"},"destination":{"id":"df673d24-ca0f-3fc0-9ce3-dd9791f9d82c","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"SplitJson","comments":"","instanceIdentifier":"bce74f55-b2de-3db3-a0fe-df0f63b54a61"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"6c2fe279-0c29-38c9-871a-5b9537826255","instanceIdentifier":"653b9bb9-83a0-38dd-30e4-2f4ce5606f69","name":"","source":{"id":"e33326e9-9fbc-38f2-a246-acb455542173","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"ListS3","comments":"","instanceIdentifier":"b9f4ea69-84c3-3091-2905-b8baaef3208b"},"destination":{"id":"764e98ad-2a75-33a0-8f5a-0f73135876de","type":"PROCESSOR","groupId":"737370c5-9a66-3f2e-bbd9-1d2c510ac902","name":"FetchS3Object","comments":"","instanceIdentifier":"8a1e7210-47e3-3b37-f5e6-6ab56e5c51a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"c756f605-f599-3578-943b-749016714d4e","instanceIdentifier":"e07aee37-0ea1-35a0-3491-490438f07fc8","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"98daab08-4614-300a-8d94-434fe700631b","instanceIdentifier":"300b3490-1469-3947-d104-ec4076004bd1","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"},{"identifier":"f07d3d0e-a6cb-3973-9c61-791ecf4a3830","instanceIdentifier":"43279368-fbfa-347f-8e6c-9167939f9808","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"737370c5-9a66-3f2e-bbd9-1d2c510ac902"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}